.conteneur-form{
    width: 80%;
    height: 70%;
    background-image: url("../../../public/images/bgImgRegistration.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    .conteneur-form2{
        background: white;
        opacity: 1;
        width: 80%;
        height: 90%;
        //border: 1px solid black;
        border-radius: 5px;
        padding: 2%;
    }
}

