.div-connexion-form{
    max-width: 30%;
    min-height: 70%;
    border: 1px solid black;
    border-radius: 5px;
    form{
        .div-erreur-connexion{
            max-width: 100%;
            color: red;
            border: 1px solid red;
            border-radius: 5px;
        }
        .div-champs-connexion{
            max-width: 100%;
        }
    }
}